---
layout: post
title:  "{{ title }}"
date:   {{ created }}
categories: {{ categories }}
about: {{ about }}
---

{{#photos}}
<div class="post-image">
  <a href="{{ full_image_path }}">
    <img src="{{ full_image_path }}" alt="{{ image_path }}" />
  </a>
  <p class="post-image-caption">{{ caption }}</p>
</div>
{{/photos}}
